/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*MY CODE*/

$mainFont: 'Alegreya Sans', sans-serif;
$secondFont: 'Abril Fatface', cursive;
$mainColor:#C1E0F7;
$accentColor:#EE8AB7;
$mainColorVariant:rgba(193,224,247,0.5);
$fontColor: #3D3D3D;

body{
    font-family: $mainFont;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}
.row{
    width: 90%;
    margin: 0 auto;
}

/*header*/

header{
    background-color: $mainColor;
}

.header-title{
    text-align: center;
    font-size: 300%;
    padding: 30px 0;
    font-weight: 500;
    font-family: $secondFont;
}

.subtitle{
    text-align: center;
    padding-bottom: 30px;
    font-size: 130%;
    font-weight: 500;
    font-family: $secondFont;
}

/*filter*/

.filter{
    font-size: 100%;
    padding: 30px 0;
    font-weight: 500;
    font-family: $mainFont;
    font-size: 120%;
}

.showAll{
  padding: 12px;
  display: block;
  width: 15%;
  color: $fontColor;
  outline: none;
  border: none;
  margin: 20px 0;
  font-family: $mainFont;
  font-weight: 500;
  cursor: pointer; 
  background-color: $mainColorVariant;
}

.filterForm{
    width: 100%;
    
    input{
        box-sizing: border-box;
        width: 15.8%;
        display: inline-block;
        padding: 5px 10px;
        margin-right: 0;
        border: none;
        box-shadow: 0px 5px 3px -5px $mainColorVariant;
        font-family: $mainFont;
        outline: none;
        
        &:focus{
            box-shadow: 0 0 5px $mainColorVariant;
        }
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  border: none;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  border: none;text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  border: none;text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  border: none;text-align: center;
}

/*table*/

.table{
    width: 100%;
}

.table th,.table td{
    box-sizing: border-box;
    border: 1px solid #000;
    padding: 10px;
    display: inline-block;
    width:16%;
    text-align: center;
    border: none;
}

tr th{
    font-weight: 500;
    font-size: 105%;
}

tr{
    border-bottom: 1px solid $accentColor;
}

/*sort*/

.triangle{
    display: inline-block;
    margin: 12px 0 10px 10px; 
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 16px solid $accentColor;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 16px solid $accentColor;
    display: inline-block;
    cursor: pointer;
}

/*pagination*/

.pagination{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack:distribute;
    justify-content:space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.paginate{
  padding: 12px;
  display: block;
  width: 100%;
  color: $fontColor;
  outline: none;
  border: none;
  margin-top: 25px;
  font-family: $mainFont;
  font-size: 115%;
font-weight: 500;
  cursor: pointer; 
    background-color: $mainColorVariant;
}

#nextPage{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 30%;
}

#previousPage{
    justify-content: flex-start;
    padding-left: 30%;
}

.pages{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px;
    font-weight: 500;
    font-size: 115%;
}

/*footer*/

.footer{
    width: 100%;
    color: #fff;
    height: 140px;
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #deadc9;
    font-size: 90%;
}
.footer p{
    margin-top: 15px;
}


.icon{
    margin: 15px;
}

.ion-social-external-link{
    font-size:230%;
    color:#fff;
    margin-right: 15px;
}

@media (max-width:850px){
      body{
        font-size: 12px;
    }
    .row{
        width:98%;
    }
    .filterForm{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        
        input{
            width: 20%;
            margin-top: 20px;
        }
    }
    .showAll{
        margin-top: 35px;
    }
}

@media (max-width:680px){
    .filterForm input{
        width: 30%;
        margin-top: 20px;
    }
    
    .showAll{
        width: 30%;
    }
    
    .table th, .table td{
        width: 18%;
    }
    
    .table th:first-child,#table td:first-child{
        width: 10%;
    }
    
    .table th:first-child .triangle .triangle-up,.table th:first-child .triangle .triangle-down{
        margin-left: 0;
        margin-top: 10px;
        float: left;
    }
}

@media (max-width:570px){
       .table th .triangle .triangle-up,.table th .triangle .triangle-down{
        margin-left: 0;
        margin-top: 10px;
        float: left;
    }
    
    .table th:last-child span{
        text-align: left;
    }
}

@media (max-width:450px){
    .filterForm input{
        width: 50%;
    }
    
    .header{
        font-size: 250%;
    }
    
    .subtitle{
        line-height: 1.3em;
        font-size: 140%;
    }
    
    .filter{
        font-size: 110%;
        margin-top: 35px;
    }
    
    .showAll{
        width: 90%;
        margin: 30px auto;
    }
    
    .footer{
        font-size: 120%;
        
    }
    
    .ion-social-external-link{
        font-size: 330%;
    }
    
    .triangle-up {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid $accentColor;
}

    .triangle-down {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid $accentColor;
    }
}


@media (max-width:360px){
    body{
        font-size: 10px;
    }
    
    .pages{
        font-size: 150%;
    }
    
    .paginate{
        font-size: 150%;
    }
    
    .filter{
        font-size: 160%;
        text-align: center;
    }
}
    
